.image-slider {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}
#image {
  width: 100%;

  border-radius: 12px;
}
.left {
  position: absolute;
  left: -2%;
  top: 50%;

  z-index: 5;
}
.right {
  position: absolute;
  left: -2%;
  top: 30%;
  z-index: 5;
}
.currentSlide {
  transition-duration: 0.5s ease;
  opacity: 0;
}
.currentSlide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

@media screen and (max-width: 400px) {
   .right {
      left: -2%;
      top: 20%;
      z-index: 5;
    }
}
